*.iml
.gradle
/local.properties
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
vcs.xml
.name
*.hprof
*.log
*.tmp
*.temp
*.jks
*.keystore
*.aab
proguard-rules.pro
proguardFiles/
/coverage/
/coverage.ec
/navigation/